/* Thumbnail on the right in post list/overview */
.post-entry {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
}

.post-entry .entry-cover {
    grid-column: 2;
    grid-row: 1 / -1;
    margin: 0;
}

.post-entry .entry-cover img {
    width: 200px;
    /*height: 100%; */
    /*max-height: 130px */
    height: auto;
    /*object-fit: cover;*/
    object-fit: contain;
    border-radius: 4px;
}

.post-entry .entry-header { grid-column: 1; grid-row: 1; }
.post-entry .entry-content { grid-column: 1; grid-row: 2; }
.post-entry .entry-footer  { grid-column: 1; grid-row: 3; }
.post-entry .entry-link    { grid-column: 1 / -1; grid-row: 1 / -1; }

/* Cover size on single post page */
.post-single .entry-cover img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.home-quote {
    text-align: center;
    font-style: italic;
    margin: 1.5rem 0;
}


@media (max-width: 600px) {
    .post-entry {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .post-entry .entry-cover {
        grid-column: 1;
        grid-row: 2; /* image below header, or use 1 to put it above */
    }

    .post-entry .entry-cover img {
        width: 100%;
    }

    .post-entry .entry-header { grid-row: 1; }
    .post-entry .entry-content { grid-row: 3; }
    .post-entry .entry-footer  { grid-row: 4; }
    .post-entry .entry-link    { grid-row: 1 / -1; }
}

.entry-header h2 {
  font-size: 1.3rem;
}